<a href="https://colab.research.google.com/github/mimi-45/Introduction-to-Python/blob/main/Untitled1_Assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [30]:
#Problem01
l=[5,4,3,2,10]
l1= l[3]
print((l1) ,type(l1))

2 <class 'int'>

In [5]:
#Problem02

a=3
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)

8
-2
15
0.6

In [31]:
#problem03

a=3
b=5
x=a/b
var=x
var_int= int(var)
print((var) , type (var))
print((var_int) ,type(var_int))

0.6 <class 'float'>
0 <class 'int'>

In [15]:
#Problem04
color_list= ["Red", "Green" , "White", "Black"]
print(color_list[0])
print(color_list[3])

Red
Black

In [18]:
#Problem05

multi= """ a string that You have "don't" to escape
                         This
                 is a..........multi line
                heredoc------>example
"""
print(multi)

 a string that You have "don't" to escape
                         This
                 is a..........multi line
                heredoc------>example

In [28]:
#Problem6

b= float(input("Enter the base"))
h=float(input("Enetr the height"))
x=0.5
c=x*b*h
print((c) ,type(c))

Enter the base5
Enetr the height10
25.0 <class 'float'>

In [34]:
#problem07

single= "Display my details in three different lines"
multi= """ 
           Name= Afsana Mimi
           Age= 20 years
          Address= Dhaka, Bangladesh
"""
print(single)
print(multi)

Display my details in three different lines

           Name= Afsana Mimi
           Age= 20 years
          Address= Dhaka, Bangladesh

In [ ]:

#Problem08

In [ ]:



#Problem09

In [46]:


#Problem10
celc=sius= float(input("Enter the data="))
fahrenheit=(celsius*1.8)+32
print((fahrenheit) ,type(fahrenheit))

Enter the data=45
113.0 <class 'float'>